%aside.register
  %h2
    Registration info
  %p
    Fill <a href="register.php">our registration form</a> and we'll let you know when we begin the registration process. Then, get ready for the best conference in contemporary art.
  <a href="register.php" class="btn btn-danger">Register now</a>