- images = ['seattle_skyline.jpg', 'jewelry_workshop.jpg', 'painting_workshop.jpg', 'pottery_workshop.jpg', 'quicksketch_workshop.jpg']
#carousel-example-generic{class: "carousel slide hidden-xs", "data-ride": "carousel"}
  - nambers = [0...images.length]
  %ol{class: "carousel-indicators"}
    - for namber in nambers
      - if namber == 0 then status = "active" else status = "" 
      -\
      %li{"data-target": '#carousel-example-generic', 'data-slide-to': "#{namber}", class: "#{status}"}
  
  .carousel-inner
    - for namber in nambers
      - if namber == 0 then status = "active" else status = "" 
      -\
      %div{class: "item #{status}"}
        %img{src: "images/carousel/#{images[namber]}", alt: ""}
        %div{class: "carousel-caption"}
        
  %a{class: "left carousel-control", href: "#carousel-example-generic", 'data-slide':"prev"}
    %span{class: "glyphicon glyphicon-chevron-left"}
  %a{class: "right carousel-control", href: "#carousel-example-generic", 'data-slide': "next"}
    %span{class: "glyphicon glyphicon-chevron-right"}